/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap'); */
@font-face {
    font-family: Kylra;
    src: url(assets/fonts/static/RedHat-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Kylra;
    src: url(assets/fonts/static/RedHatText-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Kylra;
    src: url(assets/fonts/static/RedHatText-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: Kylra;
    src: url(assets/fonts/RedHatText-VariableFont_wght.ttf);
    font-weight: variable;
    font-style: normal;
}

@font-face {
    font-family: Kylra;
    src: url(assets/fonts/RedHatText-Italic-VariableFont_wght.ttf);
    font-weight: variable;
    font-style: italic;
}


:root{
    --red: hsl(14, 86%, 42%);
    --green:hsl(159, 69%, 38%);
    --rose50:hsl(20, 50%, 98%);
    --rose100:hsl(13, 31%, 94%);
    --rose300:hsl(14, 25%, 72%);
    --rose400:hsl(7, 20%, 60%);
    --rose500:hsl(12, 20%, 44%);
    --rose900:hsl(14, 65%, 9%);
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
body{
    margin: 10px;
    background-color: var(--rose100);
    font-family: 'Kylra', sans-serif;
    font-size: 16px;
    margin: 20px;
}

.grid-container{
    display: grid;
    grid-template-areas: 
        'header header aside'
        'main   main   aside'
        'footer footer footer';

    grid-template-columns: 1fr 1fr 0.8fr;
    
    grid-column-gap: 20px;
    grid-row-gap: 10px;
}

.header{
    grid-area: header;
    font-weight: bold;
    font-size: 2em;
    color: var(--rose900);
    padding-top: 10px;
}

.main-section{
    grid-area: main;
}

/* Product Section */
.product-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.cart-flex{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;    
}

.cart-flex img{
    border-radius: 1rem;
    max-width: 100%;
}

/* Add Product Container */
.add-cart-container{
    display: flex;
    flex-direction: column;
    width: 60%;
    position: relative;
    top: -16px;
}

/* Add To Cart Container */
.add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    border-radius: 30px;
    border: 1px solid var(--rose500);
    color: var(--rose900);
    padding: 4px 8px;
    /* display: none; */
}

.add-to-cart h2{
    font-size: .6em;
    text-wrap: nowrap;
    padding-left: 1.5em;
}


/* Product Count Container */
.open-count{
    background-color: var(--red);
    display: flex;
    justify-content: space-between;
    padding: 4px 8px;
    border-radius: 20px;
    display: none;
}

.open-count img{
    border: 2px solid var(--rose100);
    padding: 3px;
    border-radius: 20px;
}

.open-count span{
    color: var(--rose100);
    align-self: center;
    font-weight: 600;
    font-size: .8em;
}

/* Product Write-up */
.product-container p{
    font-weight: 600;
    font-size: .5em;
    color: var(--rose500);
}

.product-container h1{
    font-weight: bold;
    font-size: .6em;
    color: var(--rose900);
}

.price{
    font-size: 1em;
    color: var(--red);
}


/* Aside Section */
.aside{
    grid-area: aside;
}

/* Empty Cart */
.empty-cart{
    display: grid;
    align-items: center;
    justify-items: center;
    background: var(--rose50);
    border-radius: 10px;
    padding: 1rem;

    /* display: none; */
}

.empty-cart h1{
    justify-self: left;
    color: var(--red);
    font-size: 1em;
    padding-bottom: 20px;

}

.empty-cart p{
    padding-top: 10px;
    font-weight: 600;
    font-size: .6em;
    text-wrap: wrap;
    color: var(--rose900);
}

/* Order Cart */
.order-cart{
    background: var(--rose50);
    align-items: center;
    justify-items: center;
    border-radius: 10px;
    padding: 1rem;

    /* display: none; */
    /* display: block; */
}

.order-cart > h1{
    color: var(--red);
    margin-bottom: 1rem;
    font-size: 1em;
}
.order-items{
    display: flex;
    flex-direction: column;
}

.order-items li{
    list-style: none;
}

.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--rose100);
    padding-bottom: .5rem;
}

.items-qty-price{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    /* max-width: 80%; */
}

.items > div{
    font-size: .4em;
}

.items img{
    border: 1px solid var(--rose500);
    border-radius: 10px;
    padding: 1px;
}

.order-total{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: .4em;
}

.order-total > h2{
    font-size: 1.5em;
    color: var(--rose500);
    font-weight: 600;
    padding: 1rem 0;
}

.delivery-text{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5em;
    background: var(--rose100);
    border-radius: 1rem;
    margin: 1rem 0;
}

.delivery-text img{
    /* padding-right: 8px; */
    margin: 1rem .5em;
}

#btn{
    background: var(--red);
    border: 0;
    outline: 0;
    padding: 1rem 0rem;
    text-wrap: wrap;
    border-radius: 30px;
    color: var(--rose100);
    font-weight: bold;
    width: 100%;
}
/* Footer Section */
.attribution { 
    grid-area: footer;
    font-size: 11px; 
    text-align: center;
    margin: 1em;
    color: var(--rose900);
    font-weight: 600;
}
.attribution a { 
    color: var(--red);
    font-weight: bold;
    text-decoration: none;
}

/* Order Confirm Section  */
.order-confirm-section{
    background: var(--rose50);
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: var(--shadow);
    width: 50%;

    position: fixed;
    top: 30vh;
    justify-self: center;

    display: none;
}

.message h1{
    color: var(--rose900);
}

.message p{
    color: var(--rose500);
    font-weight: 600;
    font-size: .8em;
    padding-bottom: 1rem;
}

.order-confirm-section > .order-items{
    background-color: var(--rose100);
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.message-items{
    border-bottom: 1px solid var(--rose300);
}

.tumbnails-flex{
    display: flex;
    justify-content: start;
    gap: 1rem;
}

.tumbnails-flex img{
    width: 40px;
    border-radius: 0;
    border: 0px;
    margin: 0;
}


/* Media Screen for Ipad */
@media ( max-width: 873px ){
    .grid-container{
        grid-template-columns: 1fr 1fr 0.8fr;
        
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }    

    .add-to-cart h2{
        padding-left: .8em;
    }
    
}

/* Media Screen for ipad */
@media ( max-width: 745px ){
    .grid-container{
        grid-template-columns: 1fr 1fr 0.6fr;
        grid-column-gap: 5px;
        grid-row-gap: 5px;
    }    

    /* Product Section */
    .product-section{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
    }
}

/* Media Screen for Ipad */
@media ( max-width: 650px ){
    .grid-container{
        grid-template-columns: 1fr .5fr 0.8fr;
        grid-column-gap: 10px;
        grid-row-gap: 5px;
    }    

    /* Product Section */
    .product-section{
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 10px;
    row-gap: 10px;
    }
}


/* Media Screen for Mobile */
@media ( max-width: 400px ){
    .grid-container{
        grid-template-areas: 
            'header'
            'main'
            'aside'
            'footer';
        grid-template-columns: 1fr;
        
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }    

    /* Product Section */
    .product-section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        column-gap: 10px;
        row-gap: 10px;
    }

    .aside {
        margin-top: 10px;
    }

    /* Order Confirm Section  */
    .order-confirm-section {
        width: 100%;
        bottom: -5vh;
    }
}